<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Usuarios</h1>
        <a href="/users/admin/create" class="btn btn-success">Criar novao Usuario</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        
                    </tr>
               <% }) %>
            
</body>
<%- include ('../../partials/footer.ejs') %>
